<% @title = 'Show Pin - Corkboard' %> 

<%= image_tag @pin.thumbnail.url %>

<%= link_to @pin.name, @pin.url %>

<p>
  <%= @pin.description %>
</p>

<% if @pin.user == current_user %>
<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Delete', @pin, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
