<% @title = 'Corkboard' %>

<div class="home-pins">
  <h3>
    <%= link_to pins_path do %>
      Pins <%= fa_icon 'angle-right' %>
    <% end %>
  </h3>
  <hr/>
  <div class="row">
    <% @data[:pins].each do |pin| %>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
      <%= render 'pins/pin', pin: pin %>
    </div>
    <% end %>
  </div>
</div>

<div class="home-boards">
  <h3>
    <%= link_to boards_path do %>
      Boards <%= fa_icon 'angle-right' %>
    <% end %>
  </h3>
  <hr/>
  <div class="row">
    <% @data[:boards].each do |board| %>
    <%= render 'boards/board', board: board %>
    <% end %>
  </div>
</div>
